streamlit

langchain-core
langchain-google-genai
langchain-huggingface
langchain-qdrant
langchain-docling
langchain-text-splitters

docling

qdrant-client

sentence-transformers
transformers
torch

python-dotenv
pypdf
